[[key]]
name = "Name goes here"
secret = "Secret goes here"

[[key]]
name = "Second name goes here"
secret = "Second Secret goes here"

[[key]]
name = "And so on..."
secret "And so on..."

# This file should go into %appdata%/rstotp without the .example extension. For linux, its .config and I have no idea what it is for mac
# TODO: Work on encryption to be able to encrypt and decrypt the keys safely